# Thư mục thư viện Node.js
node_modules/
dist/

# Dữ liệu của Database (đừng đẩy đống này lên)
pgdata/

# THƯ MỤC NHẠC (Quan trọng nhất)
# Vì bạn mount folder từ Windows vào Docker, 
# hãy đảm bảo tên folder nhạc trong project bị loại bỏ
backend/library/

# File môi trường
.env

# Các file rác của hệ điều hành
.DS_Store
Thumbs.db

# File cấu hình của Windows Explorer
Desktop.ini