# Dependencies
node_modules/
dist/
npm-debug.log*

# Docker
.docker/

# Dữ liệu nhạc (Cực kỳ quan trọng để không đẩy nhạc lên GitHub)
backend/library/
/library/

# Môi trường và Database
.env
pgdata/

# OS files
.DS_Store
Thumbs.db