name: musicmanager

services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: development
    container_name: music_backend
    volumes:
      - ./backend:/app
      - /app/node_modules
      # Ánh xạ thư mục nhạc từ máy thật vào Docker
      - C:/Users/ACER/qobuzdl/artist_qobuz_new_00:/music_data:ro    
    environment: # Phải có mục environment riêng biệt
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}?schema=public
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - NODE_ENV=development
      - WATCHPACK_POLLING=true 
    command: npm run start:dev
    ports:
      - "3000:3000"